In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('./메이저리그 기업성과 2006-2019 원본데이터.xlsx', sheet_name='2006-2019')

In [3]:
df.head()

,Rank,Company,Country,Region,Specified-Industry,New-Industry,Sales ($bil),Profits ($bil),Assets ($bil),Market Value ($bil),MC Rank,Year,Unnamed: 12
0,6,Exxon Mobil,United States,North America,NaN,Oil & Gas Operations,328.21,36.13,208.34,362.53,1,2006,NaN
1,2,General Electric,United States,North America,NaN,Conglomerates,149.7,16.35,673.30,348.45,2,2006,NaN
2,55,Microsoft,United States,North America,NaN,Software & Services,41.36,13.06,67.26,279.02,3,2006,NaN
3,1,Citigroup,United States,North America,NaN,Banking,120.32,24.64,1494.04,230.93,4,2006,NaN
4,8,BP,United Kingdom,Europe,NaN,Oil & Gas Operations,249.47,22.63,206.91,225.93,5,2006,NaN

In [4]:
df.drop(columns=['Unnamed: 12'], inplace=True)

In [5]:
df_ratio = df['Specified-Industry'].value_counts(normalize=True).to_frame()

In [6]:
df_new_industry_ratio = df['New-Industry'].value_counts(normalize=True).to_frame()

In [7]:
df_new_industry_ratio

                               New-Industry
Banking                            0.112071
Diversified Financials             0.077143
Oil & Gas Operations               0.072214
Utilities                          0.058357
Food, Drink & Tabacco              0.051071
Materials                          0.047071
Insurance                          0.046214
Telecommunications Services        0.044429
Drugs & Biotechnology              0.040786
Retailing                          0.036000
Technology Hardware & Equip        0.035786
Capital Goods                      0.033357
Chemicals                          0.032714
Transportation                     0.032357
Consumer Durables                  0.032286
Software & Services                0.030714
Household & Personal Products      0.029143
Health Care Equipment & Svcs       0.027571
Media                              0.025857
Construction                       0.023357
Business Service & Supplies        0.022214
Conglomerates                      0.021143
Semiconductors                     0.020143
Hotels, Restaurants & Leisure      0.014214
Food Markets                       0.013857
Aerospace & Defense                0.013786
Trading Companies                  0.006071
Telecommunications services        0.000071

In [8]:
df['Specified-Industry'].unique()

array([nan, 'Computer Hardware', 'Oil & Gas Operations',
       'Computer Services', 'Investment Services', 'Conglomerates',
       'Discount Stores', 'Major Banks', 'Software & Programming',
       'Food Processing', 'Medical Equipment & Supplies',
       'Telecommunications services', 'Household/Personal Care',
       'Regional Banks', 'Pharmaceuticals', 'Diversified Metals & Mining',
       'Semiconductors', 'Beverages', 'Auto & Truck Manufacturers',
       'Tobacco', 'Internet & Catalog Retail', 'Communications Equipment',
       'Broadcasting & Cable', 'Oil Services & Equipment',
       'Consumer Financial Services', 'Home Improvement Retail',
       'Restaurants', 'Iron & Steel', 'Diversified Chemicals',
       'Apparel/Footwear Retail', 'Air Courier',
       'Life & Health Insurance', 'Biotechs', 'Railroads',
       'Diversified Insurance', 'Drug Retail', 'Aerospace & Defense',
       'Heavy Equipment', 'Managed Health Care', 'Specialized Chemicals',
       'Computer Storage Devices', 'Food Retail', 'Real Estate',
       'Apparel/Accessories', 'Electric Utilities', 'Healthcare Services',
       'Specialty Stores', 'Casinos & Gaming', 'Electrical Equipment',
       'Business Products & Supplies', 'Natural Gas Utilities',
       'Business & Personal Services', 'Other Industrial Equipment',
       'Other Transportation', 'Auto & Truck Parts', 'Department Stores',
       'Electronics', 'Trading Companies',
       'Property & Casualty Insurance', 'Hotels & Motels',
       'Precision Healthcare Equipment', 'Construction Materials',
       'Printing & Publishing', 'Construction Services', 'Advertising',
       'Insurance Brokers', 'Paper & Paper Products',
       'Consumer Electronics', 'Environmental & Waste',
       'Security Systems', 'Airline', 'Household Appliances',
       'Recreational Products', 'Containers & Packaging',
       'Diversified Utilities', 'Computer & Electronics Retail',
       'Diversified Media', 'Aluminum', 'Rental & Leasing',
       'Packaged Foods & Meats', 'Furniture & Fixtures',
       'diversified media', 'Trucking'], dtype=object)

$$
\epsilon
$$

In [9]:
df['Year'].min()

2006

In [10]:
df['Year'].max()

2019